* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url(media/background.jpg);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(238, 139, 27);
  display: block;
  margin: auto;
  transition: 0.5s all ease;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.fa-bitcoin {
  color: rgb(238, 139, 27);
}
.internal-text {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
}
.internal-text h1 {
  font-size: 3.5rem;
}
.internal-text h2 {
  font-size: 3rem;
  color: rgb(226, 226, 19);
  margin: 10px 0 40px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  margin: 3px;
}
.hero-btn:hover {
  background-color: rgb(238, 139, 27);
  border: 1px solid rgb(238, 139, 27);
  transition: 1s;
}
/* Services Sectioin */
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.services h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.services p {
  color: #777;
  font-size: 0.8rem;
  line-height: 22px;
  font-weight: 300;
  padding: 10px;
}
.services-col {
  flex-basis: 31%;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  transition: 0.5s;
}
.services-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.services-col .fab,
.fas {
  font-size: 50px;
  color: rgb(233, 134, 22);
  padding: 10px;
}
.services-col h3 {
  font-size: 20px;
}
/* about section */
.about-blockchain {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 5px;
}
.about-col h1 {
  font-size: 2.5rem;
}
.about-col p {
  font-size: 0.9rem;
  color: #777;
}
.about-col img {
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.ex-btn {
  border: 1px solid black;
  margin: 10px 30px;
  color: black;
  transition: 0.5s;
}
.ex-btn:hover {
  color: #fff;
}
/* portfolio section */
.portfolio{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.portfolio h1{
    font-size: 2.5rem;
}
.portfolio-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.portfolio-col img{
    width: 100%;
    height: 100%;
    border-radius: inherit ;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer:hover{
    background:rgba(3, 3, 3, 0.534);
    transition: 0.2s;
    cursor: pointer;
}
.layer a{
    width: 50%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover a{
    bottom: 45%;
    opacity: 1;
}

/* adding media queries */
@media (max-width: 726px) {
  .internal-text h1 {
    font-size: 30px;
  }
  .internal-text h2 {
    font-size: 25px;
  }
}
